version: '3.3'
services:
    nginx:
        container_name: nginx
        build: ./requirements/nginx
        restart: unless-stopped
        ports:
            - "443:443"
        volumes:
            - ./requirements/tools/code:/code
            - ./requirements/nginx/srcs/nginx.conf:/etc/nginx/nginx.conf
        networks:
            - network 
    wordpress:
       depends_on: 
         - mariadb
       container_name: wordpress
       build: ./requirements/wordpress
       restart: unless-stopped
       volumes:
         #  - ./requirements/tools/code:/code
          - wp_data:/var/www/html
            # environment:
            #  - ${WORDPRESS_DB_HOST}
            #       - ${WORDPRESS_DB_USER}
            #     - ${WORDPRESS_DB_PASSWORD}
            #       - ${WORDPRESS_DB_NAME}
       networks:
          - network
     
    mariadb:
      container_name: mariadb
      build: ./requirements/mariadb
      restart: always
      ports:
            - '3306:3306'
      env_file:
            - .env
              #   - ${MYSQL_ROOT_PASSWORD}
              # - ${MYSQL_USER}
              #   - ${MYSQL_PASSWORD}
        #    - MYSQL_DATABASE: ${VARIABLE_DE_.ENV2}
    #      MYSQL_DATABASE: db_name

volumes:
    wp_data: {}
 
networks:
     network: 

